.lowercase {
	text-transform: lowercase;
}

nav a {
	transition: all .3s !important;
}

nav a:hover,
nav a:active,
nav a:focus {
	color: #ED217C !important;
}

nav .active > a {
	background-color: inherit !important;
}

.btn-success,
.btn-success:active,
.btn-success:visited {
	background-color: #ED217C !important;
	border-color: #ED217C !important;
}

.btn-success:hover {
	background-color: #DE1584 !important;
}

.floating-label-form-group-with-focus > label {
	color: #ED217C !important;
}
